extends layout

block content
  h1= title

  p Welcome to #{title}
  .grid(data-packery='{ "itemSelector": ".grid-item", "gutter": 10 }')
    ul.grid-item
      each book in books
        li
          a(href='/book/'+ book.id)
            img(src=book.img class='bookcover')
