extends layout

block content
  h1= "All books published in " + title
  p
  .grid(data-packery='{ "itemSelector": ".grid-item", "gutter": 10 }')
    ul.grid-item
      each book in books
        li
          a(href='/book/'+ book.id)
            img(src=book.img class='bookcover')
